.ekutumb-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; 
  min-height:75px;
}

.ekutumb-card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; }

.ekutumb-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem; }

.ekutumb-card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px); }

.ekutumb-card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.ekutumb-card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.ekutumb-bg-danger {
  background-color: #d9534f;
  color: #fff; }

.ekutumb-bg-success {
  background-color: #5cb85c;
  color: #fff; }

.ekutumb-bg-warning {
  background-color: #f0ad4e;
  color: #fff; }

.ekutumb-bg-purple {
  background-color: #b81fff;
  color: #fff; }

.ekutumb-bg-blue {
  background-color: #12c3d2;
  color: #fff; }
